# Addon input files
addons.txt
in.txt
installed.ini
addons-classic.txt
addons-retail.txt
addons-test.txt
config-classic.ini
config-retail.ini
config-test.ini
installed-classic.ini
installed-retail.ini
installed-test.ini

# Settings for IntelliJ
.idea/

# Compiled pyc files
__pycache__/
.vscode/
desktop.ini

\.coverage

*.log

# Python setuptools cache
build/
dist/
wow_addon_updater.egg-info/

test-addon-directory/

AddOns - Shortcut.lnk
