# Addon input files
addons.txt
installed.ini
addons-classic.txt
addons-retail.txt
addons-test.txt
config-classic.ini
config-retail.ini
config-test.ini
installed-classic.ini
installed-test.ini

# Settings for IntelliJ
.idea/

# Compiled pyc files
__pycache__/
.vscode/
desktop.ini

\.coverage

*.log
